{% extends "home.html" %}
{% load i18n %}

{% block content %}
	{% if user and not user.is_anonymous %}
		<a id="Social-logout" href="/logout">{% trans "Log Out" %}</a>
	{% else %}
		<a class="icon-twitter" id="Social-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">{% trans "Log in with Twitter" %}</a>
		<a class="icon-github" id="Social-github" href="{% url 'social:begin' 'github' %}?next={{ request.path }}">{% trans "Log in with Github" %}</a>
	{% endif %}
{% endblock content %}